discord.py>=2.3.0
opencv-python>=4.8.0
pytesseract>=0.3.10
pyautogui>=0.9.54
pyperclip>=1.8.2
psutil>=5.9.0
Pillow>=10.0.0
numpy>=1.24.0
pywin32>=306
edge-tts>=6.1.9
sounddevice>=0.4.6
soundfile>=0.12.1
PyNaCl>=1.4.0
davey>=0.1.5
requests>=2.31.0
pip-system-certs>=4.0
